.about{
	background-image: url('../../assets/static/graybackground.png');
	min-height: 100vh;
	padding: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&__container{
		max-width: 1160px;
		margin: auto;
		text-align: center;
	}
	&__title {
		font-size: 1.5rem;
	}
	&__subtitle{
		font-size: 1.4rem;
		margin-bottom: 72px;
	}
	&__paragraph{
		font-size: 1.117rem;
		text-align: center;
		margin-top: 200px;
	}
}