.instroduccion {
	background-image: url("../../assets/static/introduccion.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: var(--color-white);
	&__title{
		margin: 0;
		font-family: 'Staatliches', cursive;
		font-size: 106px;
	}
	&__subtitle{
		margin-top: 10px;
		font-size: 20px;
		margin-bottom: 82px;
	}
}