.u-content{
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
}

.u-btn--primary{
  padding: 1.5rem 3rem;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  text-decoration: none;
}

.u-btn--primary:hover{
  background-color: var(--color-white);
  color: var(--color-black);
}

.u-btn--secundary{
  padding: 1.5rem 3rem;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  text-decoration: none;
}

.u-btn--secundary:hover{
  background-color: var(--color-black);
  color: var(--color-white);
}