.u-content{
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
}

.u-btn{
  padding: 1.5rem 3rem;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

.u-btn:hover{
  background-color: #fff;
  color: black;
}