.u-{
  &content{
    max-width: 1400px;
    margin: auto;
    padding: 0 1rem;
  }

  &btn--primary{
    padding: 1.5rem 2rem;
    border: 2px solid var(--color-white);
    text-align: center;
    display: inline-block;
    &__item{
      text-decoration: none;
      font-size: 20px;
      color: var(--color-white);
    }
    &:hover{
      background-color: var(--color-white);
      a{
        color: var(--color-black);
      }
    }
  }

  &btn--secundary{
    padding: 1.5rem 2rem;
    border: 2px solid var(--color-black);
    text-align: center;
    display: inline-block;
    &__item{
      font-size: 20px;
      color: var(--color-black);
      text-decoration: none;
    }
    &:hover{
      background-color: var(--color-black);
      a{
        color: var(--color-white);
      }
    }
  }

  &input{
    border: none;
    border-bottom: 2.3px solid black;
    outline: none;
    font-size: 19px;
    font-weight: 600;
    padding: .5rem 0;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    margin-bottom: 2.5rem;
    &::-webkit-input-placeholder{
      color: var(--color-black);
    }
    &:hover{
      border-color: var(--color-hover);
      &::-webkit-input-placeholder{
        color: var(--color-hover);
      }
    }
  }

  &w100{
    min-width: 100%;
  }

}