.plan{
	text-align: center;
	font-size: 1.3rem;
	&__title{
		text-decoration: underline;
	}
	&__description{
		margin-bottom: 48px;
		min-height: 227px;
	}
	&__price{
		text-decoration: underline;
		margin-bottom: 77px;
	}
}